---
import MainLayout from "@/layouts/MainLayout.astro";

export const prerender = false;
---

<MainLayout>
  <h1 class="text-5xl font-bold underline">Página protegida</h1>
  <p>Esta es la página protegida</p>
</MainLayout>
